/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background-color: #eceff1;
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 1px;
}

header {
    margin-top: 150px;
    background-image: url("../img/header-image.jpg");
    min-height: 600px;
    color: white;
}

a.anchor {
    display: block;
    position: relative;
    top: -90px;
    visibility: hidden;
}

section {
    padding: 80px 0;
}

h1 {
    font-family: 'Arapey', serif;
    font-size: 2.5em;
    text-align: center;
    opacity: 0.85;
    margin-top: 0;
    margin-bottom: 70px;
}

h1 span {
    font-weight: 800;
}

h2 {
    font-size: 1.2em;
}

.activator {
    display: block;
}

.card-action-link {
    padding-right: 5px;
    display: inline-block;
}

.link-right {
    padding-left: 7px;
    border-left: 1px solid #F74F54;
}

header {
    margin-bottom: -60px;
}

.work {
    padding-top: 60px;
    padding-bottom: 0;
    margin-bottom: -30px;
}

.resume {
    background-color: #f86d72;
}

.resume .btn {
    background-color: #fff;
    color: #303236;
    text-transform: none;
    font-weight: 400;
}

.skills {
    background-color: #303236;
}

.skills .card-content {
    background-color: #303236;
}

.skills img {
    width: 100%;
}

.parallax-container {
    height: 300px;
}

.about p {
    font-weight: 300;
}

.things {
    margin-top: 50px;
}

.things h3 {
    font-size: 1em;
    font-family: 'Arapey', serif;
    margin: 0;

}

.things .col:nth-child(n+5) {
    border-top: 1px solid #cfd8dc;
}

.things .col {
    border-left: 1px solid #cfd8dc;
    padding: 30px 0;
    text-align: center;
}

.things .card {
    opacity: 0.7;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.things .card:hover {
    opacity: 1;
}

.things .col:nth-child(5), .col:nth-child(1) {
    border-left: 0;
}

.things .card-content div {
    background-color: #f86d72;
    min-height: 1px;
    width: 70px;
    position: relative;
    margin: 12px auto 10px auto;
}

footer {
    padding: 60px 0;
    background-color: #303236;
    color: white;
}

footer h1 {
    margin-bottom: 30px;
}

footer ul {
    text-align: right;
}

footer i {
    padding-left: 10px;
}

footer a {
    color: #f86d72;
}

footer a:hover {
    color: #fa9ea1;
}

/* ==========================================================================
   Nav Bar
   ========================================================================== */

.cbp-af-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 10000;
    height: 230px;
    overflow: hidden;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
}

.cbp-af-header .cbp-af-inner {
    max-width: 69em;
    margin: 0 auto;
    padding: 0;
}

.cbp-af-header h1,
.cbp-af-header .nav {
    display: inline-block;
    position: relative;
}

.cbp-af-header h1,
.cbp-af-header .nav a {
    line-height: 230px;
}

.cbp-af-header h1 {
    font-family: Roboto, Calibri, Trebuchet, sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 3em;
    color: #303236 !important;
    margin: 0;
    float: left;
}

.cbp-af-header h1 a {
    color: #303236;
}

.cbp-af-header h1 a:hover {
    color: #6c707a;
}

.cbp-af-header .nav {
    float: right;
}

.cbp-af-header .nav a {
    color: #f86d72;
    font-weight: 300;
    margin: 0 0 0 20px;
    font-size: 1em;
}

.cbp-af-header .nav a:hover {
    color: #fa9ea1;
}

.cbp-af-header h1,
.cbp-af-header .nav a {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.cbp-af-header.cbp-af-header-shrink {
    height: 90px;
}

.cbp-af-header.cbp-af-header-shrink h1,
.cbp-af-header.cbp-af-header-shrink .nav a {
    line-height: 90px;
}

.cbp-af-header.cbp-af-header-shrink h1 {
    font-size: 2em;
}

/* Example Media Queries */
@media screen and (max-width: 55em) {

    .cbp-af-header .cbp-af-inner {
        width: 100%;
    }

    .cbp-af-header h1,
    .cbp-af-header .nav {
        display: block;
        margin: 0 auto;
        text-align: center;
        float: none;
    }

    .cbp-af-header h1,
    .cbp-af-header .nav a {
        line-height: 115px;
    }

    .cbp-af-header .nav a {
        margin: 0 10px;
    }

    .cbp-af-header.cbp-af-header-shrink h1,
    .cbp-af-header.cbp-af-header-shrink .nav a {
        line-height: 45px;
    }

    .cbp-af-header.cbp-af-header-shrink h1 {
        font-size: 2em;
    }

    .cbp-af-header.cbp-af-header-shrink .nav a {
        font-size: 1em;
    }
}

@media screen and (max-width: 32.25em) {
    .cbp-af-header .nav a {
        font-size: 1em;
    }
}

@media screen and (max-width: 24em) {
    .cbp-af-header .nav a,
    .cbp-af-header.cbp-af-header-shrink .nav a {
        line-height: 1;
    }
}

/* ==========================================================================
   Image Hover Effects
   ========================================================================== */

.grid {
    position: relative;
    margin: -20px -19px;
    padding: 0;
    list-style: none;
    text-align: center;
}

.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    width: 100%;
    background: white;
    text-align: center;
    cursor: pointer;
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.9;
}

.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.grid figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h2 {
    opacity: 0;
    word-spacing: -0.15em;
    font-weight: 300;
}

.grid figure h2 span {
    font-weight: 800;
}

.grid figure h2,
.grid figure p {
    margin: 0;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 75%;
    text-transform: none;
}

figure.effect-sadie figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(top, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
    background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
    content: '';
    opacity: 0;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure.effect-sadie figcaption.blue-work::before {
    background: rgba(70, 196, 219, 0.7);
    background: rgba(70, 196, 219, 0.7);
}

figure.effect-sadie figcaption.pink-work::before {
    background: rgba(244, 143, 177, 0.7);
    background: rgba(244, 143, 177, 0.7);
}

figure.effect-sadie figcaption.merlot-work::before {
    background: rgba(217, 38, 154, 0.7);
    background: rgba(217, 38, 154, 0.7);
}

figure.effect-sadie figcaption.grey-work::before {
    background: rgba(179, 179, 179, 0.7);
    background: rgba(179, 179, 179, 0.7);
}

figure.effect-sadie figcaption.orange-work::before {
    background: rgba(241, 167, 57, 0.7);
    background: rgba(241, 167, 57, 0.7);
}

figure.effect-sadie figcaption.black-work::before {
    background: rgba(38, 38, 38, 0.7);
    background: rgba(38, 38, 38, 0.7);
}

figure.effect-sadie figcaption.purple-work::before {
    background: rgba(130, 23, 93, 0.7);
    background: rgba(130, 23, 93, 0.7);
}

figure.effect-sadie figcaption.red-work::before {
    background: rgba(204, 0, 0, 0.7);
    background: rgba(204, 0, 0, 0.7);
}

figure.effect-sadie img {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect-sadie:hover img {
    opacity: 0.3;
    -webkit-transform: scale3d(1.3,1.3,1);
    transform: scale3d(1.3,1.3,1);
}

figure.effect-sadie h2 {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    -webkit-transition: -webkit-transform 0.35s, color 0.35s;
    transition: transform 0.35s, color 0.35s;
    -webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
}

figure.effect-sadie figcaption::before,
figure.effect-sadie p {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect-sadie p {
    position: absolute;
    top: 40%;
    left: 0;
    padding: 2em;
    width: 100%;
    opacity: 0;
    -webkit-transform: translate3d(0,10px,0);
    transform: translate3d(0,10px,0);
}

figure.effect-sadie h3 {
    font-size: 68.5%;
    color: #000;
    font-weight: lighter;
    letter-spacing: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    -webkit-transform: translate3d(0,10px,0);
    transform: translate3d(0,10px,0);
}

figure.effect-sadie {
    display: block;
}

figure.effect-sadie:hover h2 {
    opacity: 1;
    color: #fff;
    -webkit-transform: translate3d(0,20%,0) translate3d(0,40px,0);
    transform: translate3d(0,20%,0) translate3d(0,40px,0);
}

figure.effect-sadie:hover figcaption::before ,
figure.effect-sadie:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure.effect-sadie:hover h3 {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

/* Media queries */
@media screen and (max-width: 50em) {
    .content {
        padding: 0 10px;
        text-align: center;
    }
    .grid figure {
        display: inline-block;
        float: none;
        margin: 10px auto;
        width: 100%;
    }
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}