img[src="desktop.jpeg"] {
  width: 100%;
}

.about span {
  font-weight: 600;
}

.things-about-me {
  margin: 2em auto;
  /*color: white;*/
}

.things-about-me h2 {
  color: #595959;
}

.things-about-me h4 {
  /*display: inline;*/
  padding-bottom: 0.5em;
}

.things-about-me p {
  border-top: 1px solid #595959;
  padding-top: 1em;
  margin-top: 0.5em;
  display: inline;
}

.things-about-me div {
  box-sizing: border-box;
  display: inline-block;
  width: 33%;
  height: 160px;
  background-color: #eeeeee;
  padding: 0 0.5em;
  margin-top: 4px;
  text-align: right;
  vertical-align: middle;
}

.things-about-me div:last-child {
  background-color: #F16162;
}