img[src="desktop.jpeg"] {
  width: 100%;
}

.about span {
  font-weight: 600;
}

.things-about-me {
  margin: 2em auto;
  /*color: white;*/
}

.things-about-me h2 {
  color: #595959;
}

.things-about-me div {
  box-sizing: border-box;
  display: inline-block;
  width: 33%;
  height: 150px;
  background-color: #eeeeee;
  padding: 1em 0.5em;
  margin-top: 4px;
  text-align: right;
  vertical-align: middle;
}

.things-about-me div:last-child {
  background-color: #F16162;
  border: 3px solid #F16162;
}