body {
  background-color: #FBFBFB;
  color: #595959;
  font-family: 'Raleway', sans-serif;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {  }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {  }

a {
  color: #777;
  text-decoration: none;
}

a:hover {
  color: #F16162;
  text-decoration: none;
}

title {
  font-weight: 600;
}

.name {
  float: left;
  font-size: 40px;
}

nav {
  padding: 5em 6em 2em 6em;
  /*border: 1px solid black;*/
}

nav ul {
  list-style-type: none;
  float: right;
}

.navbar {
  height: 120px;
  background-color: #FBFBFB;
  border: 1px solid black;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #F16162;
}

.navbar-default .navbar-brand:hover {
  color: #F16162;
}

.navbar-nav {
  float: right;
}

.navbar-brand {
  font-size: 50px;
}

nav li {
  display: inline-block;
  margin: 0 1.2em;
}

nav li:hover {
  padding-bottom: 1.2em;
  border-bottom: 2px solid #F16162;
}

nav a {
  font-size: 1.3em;
}

.current-page {
  color: #F16162;
  /*background-color: blue;*/
}

.current-page a {
  color: #F16162;
}

.middle-text {
  width: 60%;
  margin: 16% auto;
}

.middle-text h1 {
  font-size: 50px;
  font-weight: 300;
  /*text-align: justify;*/
}

.middle-text ul {
  /*border: 1px solid black;*/
  padding: 0;
  /*text-align: right;*/
}


/*.middle-text li {
  text-align: center;
  background-color: #F16162;
  color: white;
  display: inline-block;
  width: 7em;
  padding: 0.3em 0;
  margin-right: 1.2em;
  font-family: 'Halant', serif;
  font-weight: 300;
}*/

.middle-text li {
  text-align: center;
  color: #F16162;
  display: inline-block;
  margin-right: 1.5em;
  font-size: 1.1em;
  font-family: 'Halant', serif;
}

.portfolio {
  width: 100%;
  box-sizing: border-box;
  font-size: 0;
/*  position: absolute;
  bottom: 0;*/
  float: bottom;
}

.project {
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 33.333333%;
  border-top: 6px solid transparent;
  /*height: 250px;*/
  /*background-color: #4F5560;*/
}

.project:hover {
  border-top: 6px solid #F16162;
  opacity: 0.7;
  transition: 0.2s;
}

.project img {
  max-width: 100%;
  height: auto;
  -webkit-filter: grayscale(77%);
  filter: grayscale(77%);
  position: relative;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  clear: both;
  background-color: #eeeeee;
  height: 165px;
  text-align: center;
  padding: 2em 0;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer li {
  display: inline-block;
  margin: 0 2em;
}

footer h2 {
  font-size: 1.6em;
}

footer a {
  font-size: 1.3em;
}

.scrollToTop {
 display: block;
 position: fixed;
 top: 0;
 right: 0;
 font-size: 2.5em;
 text-decoration: underline;
 /*padding: 10px;*/
 /*border: 2px solid red;*/
 /*background: white;*/
}