.projects div {
  box-sizing: border-box;
  /*border: 1px solid black;*/
  padding: 2% 2%;
  width: 49%;
  margin: 0;
  display: inline-block;
  vertical-align: top;
}
.projects img {
  width: 100%;
  display: inline-block;
}