.projects div {
  box-sizing: border-box;
  /*border: 1px solid black;*/
  padding: 2% 2%;
  width: 49%;
  margin: 0;
  display: inline-block;
  vertical-align: top;
}
.projects img {
  width: 100%;
  display: inline-block;
}

.demo-code a:visited {
}

.demo-code a:link {
  border: 2px solid #777;
  display: inline-block;
  padding: 0.5em 1em;
  margin-right: 0.5em;
}

.demo-code a:hover {
  border: 2px solid #F16162;
  color: white;
  background-color: #F16162;
}