a[href="Huy-Huynh-Resume.pdf"] {
  border: 2px solid #777;
  margin-top: 2em;
  display: inline-block;
  padding: 0.5em 1em;
  font-size: 1em;
}

a[href="Huy-Huynh-Resume.pdf"]:hover {
  border: 2px solid #F16162;
  color: white;
  background-color: #F16162;
}

.resume article {
  padding: 1em;
  border-top: 1px solid #ccc;
}

.resume article:first-child {
  border-top: 0;
}

article h2 {
  float: left;
  width: 20%;
  height: 100%;
  color: #F16162;
}

article h4 {
  color: #ACACAC;
}

article div {
  float: right;
  width: 80%;
}

article div span{
  float: right;
}

.clearfix {
  overflow: auto;
}