body{
  font-family: Verdana;
  font-size: 16px;
  color: #81A8B8;
}

a {
  color: #81A8B8;
}

.body {
  width: 80%;
  display: inline-block;
  position: relative;
}

header {
  font-size: 15px;
  display: inline-block;
  position: relative;
}

div {
  display: inline-block;
}

code {
  font-size: 18px;
  font-family: Courier;
  color: #7C1919;
  background-color: #DFDFDF;
}